@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using Sitecore.Commerce.StarterKit.Models
@using System.Web.Optimization
@model ConfirmModel
@Html.Hidden("stepNumber", 6)
@Html.Hidden("stepAction", Url.Action("Confirmation"))

<h4>Step 6 : Confirmation</h4>
<hr/>
<div class="row">
    <div class="col-md-3">
        <h5><strong>Billing Address</strong></h5>
        <div>@(Model.BillingAddress.FirstName + " " + Model.BillingAddress.LastName)</div>
        <div>Email: @Model.BillingAddress.Email</div>
        <div>Company: @Model.BillingAddress.Company</div>
        <div>Country: @Model.BillingAddress.Country</div>
        <div>City: @Model.BillingAddress.City</div>
        <div>Address1: @Model.BillingAddress.Address1</div>
        <div>Address2: @Model.BillingAddress.Address2</div>
        <div>Zip: @Model.BillingAddress.ZipPostalCode</div>
        <div>Phone: @Model.BillingAddress.PhoneNumber</div>
    </div>

    <div class="col-md-3">
        <h5><strong>Shipping Address</strong></h5>
        <div>@(Model.ShippingAddress.FirstName + " " + Model.ShippingAddress.LastName)</div>
        <div>Email: @Model.ShippingAddress.Email</div>
        <div>Company: @Model.ShippingAddress.Company</div>
        <div>Country: @Model.ShippingAddress.Country</div>
        <div>City: @Model.ShippingAddress.City</div>
        <div>Address1: @Model.ShippingAddress.Address1</div>
        <div>Address2: @Model.ShippingAddress.Address2</div>
        <div>Zip: @Model.ShippingAddress.ZipPostalCode</div>
        <div>Phone: @Model.ShippingAddress.PhoneNumber</div>
    </div>

    <div class="col-md-3">
        <h5><strong>Payment Method</strong></h5>
        <div>@Model.PaymentMethod</div>
    </div>

    <div class="col-md-3">
        <h5><strong>Shipping Method</strong></h5>
        <div>@Model.ShippingMethod</div>
    </div>
</div>

@Html.Partial("Products")

<hr />

<div class="row">
    <div class="col-md-4">
        <button type="submit" name="changeStep" value="@ChangeStepType.Previous" class="btn btn-default" data-loading-text="Loading...">Previous</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="changeStep" value="@ChangeStepType.Confirm" class="btn btn-success" data-loading-text="Loading...">Confirm</button>
    </div>
</div>
